<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache">
    
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/unpoly.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
    
    <!-- JS -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/unpoly.min.js"></script>

	<script type="text/javascript">
		window.onload = verifyToken();
		function verifyToken() {
			if(localStorage.getItem("token") == null) {
				location.replace("/auth");
				return false;
			}
		}
	</script>
	
    <title>{#insert title}Votação de Pautas{/}</title>
  </head>
<body>
	<div>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-header">
				<div class="navbar-header">

					<!-- Collapsed Hamburger -->
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#app-navbar-collapse">
						<span class="sr-only">Toggle Navigation</span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>

					<!-- Branding Image -->
					<a class="navbar-brand" href="/"> Sicredi </a>
				</div>

				<div class="collapse navbar-collapse" id="app-navbar-collapse">
					<!-- Left Side Of Navbar -->
					<ul class="nav nav-navbar navbar-left">
						<li class="menu-item"><a href="/">Home</a></li>
						<li class="menu-item"><a href="/users">Usuários</a></li>
						<li class="menu-item"><a href="/pautas">Pautas</a></li>
						<li class="menu-item"><a href="/sessoes">Sessões</a></li>
					</ul>

					<!-- Right Side Of Navbar -->
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false">
								<img src="/assets/images/avatar-placeholder.svg" alt="" width="30" class="img-circle">
								<span class="username"></span><span class="caret"></span>
							</a>
	
							<ul class="dropdown-menu" role="menu">
								<li><a href="/users/perfil">Perfil</a></li>
								<li><a href="#" onClick="sair()">Sair</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container-fluid">
      {#insert contents}{/}
    </div>

	<script type="text/javascript">
	$(document).ready(function() {
		if(localStorage.getItem("token") != null) {
			$(".username").text(localStorage.getItem("username"));
			const queryString = location.search;
			const urlParams = new URLSearchParams(queryString);
			var filter = urlParams.get("filter");

			if(location.pathname != "/" && filter == null) {
				$.ajax({
					url: location.pathname+"/content",
					type: "GET",
					cache: false,
					contentType: "application/json",
					headers: {
						"Authorization": "Bearer "+localStorage.getItem("token")
					},
					success: function(result) { 
						$("#content").html(result);
						dateFormat();
					},
					error: function() { 
						$("#content").text("Erro ao carregar ou você não possui autorização para visualizar.");
					}
				});
			} else if(filter != null) {
				$.ajax({
					url: location.pathname+"/content",
					type: "GET",
					data: "filter="+filter,
					cache: false,
					contentType: "application/json",
					headers: {
						"Authorization": "Bearer "+localStorage.getItem("token")
					},
					success: function(result) { 
						$("#content").html(result);
						dateFormat();
					},
					error: function() { 
						$("#content").text("Erro ao carregar ou você não possui autorização para visualizar.");
					}
				});
			}
		} else {
			$("#content").html("Você não possui autorização para visualizar.");
		}
	});

	function reload() {
		var url = location.href;
		var page = url.replace("/new", "");

		setTimeout(function(){
			location.replace(page);
		}, 2000);
	}

	function sair() {
		localStorage.removeItem("token");
		localStorage.removeItem("username");
		localStorage.removeItem("cpf");
		location.reload("/auth");
	}

	function dateFormat() {
		$(".date").each(function() {
			var value = new Date($(this).text()).toLocaleDateString('pt-br');
			$(this).text(value);
		});
	}
	</script>
</body>
</html>