<!doctype html>
<html>
  <head>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
    
    <!-- JS -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.flip.min.js"></script>
    
    <title>Votação de Pautas</title>
  </head>
  <body class="bg-login">
    {#insert contents}{/}
    
    <script type="text/javascript" src="/assets/js/login.js"></script>
  </body>
</html>