{@app.model.Pauta pauta}
{#include base.html} 
{#contents}
<div class="modalenabled">
  <h2>Pauta #{pauta.id}</h2>
  <div class="panel panel-default">
      <div class="form-panel">
        <h2>{pauta.titulo}</h2>
        <div class="form-group">
            {pauta.descricao}
        </div>
        <form action="/votacao/votar" method="POST" name="votacaoForm" up-target=".container" enctype="multipart/form-data">
	      	<input type="hidden" name="idpauta" id="idpauta" value="{pauta.id}">
	      	<input type="hidden" name="cpf" id="cpf" value="{cpf}">
	        <div class="form-group">Voto<br>
	          {#for vt in voto}
               	<input type="radio" name="voto" value="{vt}">{vt.descricao} 
			      {/for}
          </div>
	        <button type="submit" class="btn btn-primary">Votar</button>
        </form>
        <div class="form-group">Obs: Aguarde a validação do CPF para realizar o voto.</div>
      </div>
  </div>
</div>
{/contents}
{/include}
