<div class="panel panel-default">
  <form action="/users/perfil/edit" method="POST" name="perfilForm" id="perfilForm" enctype="multipart/form-data">
    <div class="form-panel">
      <div class="form-group">
          <label class="sr-only" for="name">Nome</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required autofocus value="{user.name}" readonly="readonly">
      </div>
      <div class="form-group">
          <label class="sr-only" for="cpf">CPF</label>
          <input type="number" name="cpf" class="form-control" id="cpf" placeholder="CPF" required autofocus value="{user.cpf}" readonly="readonly">
      </div>
      <div class="form-group">
          <label class="sr-only" for="email">E-mail</label>
          <input type="text" name="email" class="form-control" id="email" placeholder="E-mail" required autofocus value="{user.email}">
      </div>
      <div class="form-group">
        <label class="sr-only" for="username">Usuário</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Usuário" required autofocus value="{user.username}">
      </div>
      <div class="form-group">
          <label class="sr-only" for="password">Senha</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Senha" required autofocus value="">
      </div>
      {#if role == 'ADMIN'}
      <div class="form-group">
        <select class="custom-select" name="role" id="role">
          <option disabled value="">Função</option>
          {#for rl in roles}
          <option value="{rl}" {#if user.role == rl}selected{/if}>{rl.descricao}</option>
          {/for}
        </select>
      </div>
      {/if}
      <button type="submit" class="btn btn-primary">Atualizar</button>
    </div>
  </form>
</div>