<div class="row">
  {#if role == 'ADMIN'}<a class="btn btn-primary btn-sm modal-form" href="/sessoes/new" role="button">Adicionar</a>{/if}
  <div class="search-right">
    <form method="GET" name="search" id="search">
       <input type="text" name="filter" class="form-control" id="filter" placeholder="Localizar por Nome" {#if filtered}value="{filter}"{/if}>
       <button class="btn btn-primary" type="submit">Ok</button>
    </form>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col" class="fit">Id</th>
      <th scope="col" >Nome</th>
      <th scope="col" class="fit">Id Pauta</th>
      <th scope="col" class="fit">Data Início Sessão</th>
      <th scope="col" class="fit">Data Fim Sessão</th>
      <th scope="col" class="fit">Status</th>
      <th scope="col" class="fit text-center">Ações</th>
    </tr>
  </thead>

  {#if sessoes.size == 0}
  <tr>
    <td colspan="7">Nenhum registro cadastrado.</td>
  </tr>
  {#else}

  {#for sessao in sessoes}
  <tr>
    <th scope="row">#{sessao.id}</th>
    <td>
      {sessao.nome}
    </td>
    <td>
      {sessao.idpauta}
    </td>
    <td class="date">
      {sessao.dataInicioSessao}
    </td>
    <td class="date">
      {sessao.dataFimSessao}
    </td>
    <td>
      {sessao.status.descricao}
    </td>
    <td class="fit">
        <a class="btn btn-default btn-sm modal-view" href="/sessoes/view/{sessao.id}" role="button">Visualizar</a>
        {#if role == 'ADMIN'}<a class="btn btn-primary btn-sm modal-form" href="/sessoes/edit/{sessao.id}" role="button">Editar</a>
        <a class="btn btn-danger btn-sm modal-delete" href="/sessoes/delete/{sessao.id}" role="button">Excluir</a>{/if}
    </td>
  </tr>
  {/for}
  {/if}
</table>

<script type="text/javascript" src="/assets/js/modal.js"></script>