<div class="panel">
  {#if error}<div class="alert alert-danger">{error}</div>{/if}
  <div class="panel panel-default">
      <div class="form-panel">
        <h3>Usuário #{user.id}</h3>
        <div class="form-group">
            Nome: {user.name}
        </div>
        <div class="form-group">
            E-mail: {user.email}
        </div>
        <div class="form-group">
            CPF: {user.cpf}
        </div>
        <div class="form-group">
            Função: {user.role.descricao}
        </div>
        <div class="form-group">
            Status: {user.status.descricao}
        </div>
      </div>
  </div>
</div>
